.container-fluid{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3px;
    box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.635);
}

.card{
    margin-right: 20%;
    margin-top: 10px;
    box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.414);
}

.carousel-inner{
    height: 300px;
    width: 600px;
    position: absolute;
    margin-top: -28%;
    margin-right: 15%;
}

.card-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


